body	{

	background: #ffef96;
	color: #000000; 
	/* margin: 30px; */ 
	/* padding: 30px; */
	margin: 0;
	padding:0;
	
}
h1 {
	background: rgb(254, 255, 253);
	font-family: 'Anton', sans-serif;
	color: #9c96ff;
	font-size: 35pt;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
	padding-right: 30px;
	padding-left:30px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 10%;


}

p{
	font-size: 25pt;
	font-family: 'Major Mono Display', monospace;
	color: #ed8749;
	margin-right: 30px; 
	margin-right: 30px;   
	padding-right: 30px; 
	padding-left: 30px; 
}
h2 {
	font-size: 20pt;
	font-family: 'Pacifico', cursive;
	
} 
#title {
	margin: 0;
	border: 0;
	width: 100%;
}
#text {
	width: 40%;
	float: left;
	border:none;
	margin-right: 30px; 
	margin-right: 30px;   
	padding-right: 30px; 
	padding-left: 30px; 

}
#otherSide {
   width: 50%;
   float: right;
   margin:0;
   padding:0;
   text-align: center;
}
h2.sideHeading {
	text-align: center;
	font-weight:bold;
	font-family: 'Anton', sans-serif;
	color: #9c96ff;
}
iframe {
	width:100%;
	margin: 0
	padding: 0;
	border: 0;
	height:1000px;


}
